<div class="comment">
 <div class="section-left">
      <h1>みんなのコメント</h1>
 </div>
 <div class="section-center">
     <h1>気になる企業</h1>
 </div>
 <div class="section-right">
     <h1>検索した企業</h1>
 </div>

</div>
